# SPDX-License-Identifier: GPL-2.0-only
#
# NOTE! Don't add files that are generated in specific
# subdirectories here. Add them in ".gitignore" file
# in that subdirectory instead.
#
# Normal rules (sorted alphabetically)
#

# env
.env

# patchwork
patchwork/series/
patchwork/project/


# lkml
*.cover
*.mbx

# pycache
__pycache__

# output cache
output/
